@page "/createclient"

@using LMSystemUI.Models

@inject IMongoClientData clientData
@inject NavigationManager navManager

@inject IToastService toastService

<h3>New Client:</h3>
<div>
    <div>
        <div>
            <EditForm Model="client" OnValidSubmit="CreateNewClient">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <table class="invoice-items-table">
                    <tbody>
                        <tr>
                            <td>First Name:</td>
                            <td><InputText id="client-first" @bind-Value="client.FirstName" /></td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td><InputText id="client-last" @bind-Value="client.LastName" /></td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td><InputTextArea id="client-address" rows="3" cols="21" @bind-Value="client.ClientAddress" /></td>
                        </tr>
                        <tr>
                            <td>Phone Number:</td>
                            <td><InputText id="client-phone" @bind-Value="client.ClientPhoneNumber" /></td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td><InputText id="client-email" @bind-Value="client.ClientEMail" /></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td colspan="2"><button type="submit" class="btn btn-primary">Create New Client</button></td>
                        </tr>
                    </tbody>
                </table>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private CreateClientModel client = new();

    private async Task CreateNewClient()
    {
        toastService.ShowSuccess($"{client.FirstName} {client.LastName} was added!");

        ClientModel s = new();
        s.FirstName = client.FirstName;
        s.LastName = client.LastName;
        s.ClientAddress = client.ClientAddress;
        s.ClientPhoneNumber = client.ClientPhoneNumber;
        s.ClientEMail = client.ClientEMail;

        await clientData.CreateClient(s);
        client = new();
        ClosePage();
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/clients");
    }
}

