@page "/createitem"

@using LMSystemUI.Models 

@inject IMongoItemData itemData
@inject NavigationManager navManager

<h3>New Item:</h3>
<div>
    <div>
        <div>
            <EditForm Model="item" OnValidSubmit="CreateNewItem">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <table class="invoice-tems-table">
                    <tbody>
                        <tr>
                            <td>Item Name:</td>
                            <td><InputText id="item-name-text" @bind-Value="item.ItemName" /></td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td><InputTextArea id="item-description-text" rows="3" cols="21" @bind-Value="item.ItemDescription" /></td>
                        </tr>
                        <tr>
                            <td>Price:</td>
                            <td><InputText id="item-price-text" @bind-Value="item.Price" /></td>
                        </tr>
                        <tr>
                            <td>Quantity:</td>
                            <td><InputNumber id="item-quantity-text" @bind-Value="item.QuantityInStock" /></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button type="submit" class="table-button">Add To Inventory</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private CreateItemModel item = new();

    private async Task CreateNewItem()
    {
        ItemModel s = new();
        s.ItemName = item.ItemName;
        s.ItemDescription = item.ItemDescription;
        s.Price = item.Price;
        s.QuantityInStock = item.QuantityInStock;

        await itemData.CreateItem(s);
        item = new();
        ClosePage();
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/items");
    }
}


