@page "/createinvoice"

@using LMSystemUI.Models
@inject IMongoInvoiceData invoiceData
@inject IMongoUserData userData
@inject NavigationManager navManager

@inject IToastService toastService

<h3>Create New Invoice:</h3>
<br />
<div>
    <div>
        <div>
            <EditForm Model="invoice" OnValidSubmit="CreateNewInvoice">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <table class="invoice-items-table">
                    <tbody>
                        <tr>
                            <td>Invoice Title:</td>
                            <td><InputText id="invoice-title-text" @bind-Value="invoice.InvoiceTitle" /></td>
                        </tr>
                        <tr>
                            <td>Number:</td>
                            <td><InputText id="invoice-number-text" @bind-Value="invoice.InvoiceNumber" /></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><InputText id="invoice-status-text" @bind-Value="invoice.InvoiceStatus" /></td>
                        </tr>
                        <tr>
                            <td rowspan="2"><button type="submit">Create New Invoice</button></td>
                        </tr>
                    </tbody>
                </table>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private CreateInvoiceModel invoice = new();
    private UserModel currentUser = new();
    private InvoiceModel createdInvoice = new();

    private async Task CreateNewInvoice()
    {
        toastService.ShowSuccess($"{invoice.InvoiceTitle} was created!");

        InvoiceModel s = new();

        //TODO: Replace with User lookup once login implemented
        currentUser = await userData.GeUserAsync("6261c24911695f79f40683c3");

        s.InvoiceTitle = invoice.InvoiceTitle;
        s.InvoiceNumber = invoice.InvoiceNumber;
        s.Items = new();
        s.InvoiceStatus = invoice.InvoiceStatus;
        s.CreatedBy = currentUser;
        s.Total = "0";

        await invoiceData.CreateInvoice(s);
        invoice = new();
        ClosePage();
    }

    private void ClosePage()
    {
        navManager.NavigateTo("/invoices");
    }
}

